@model IEnumerable<ServiceScheduler>
@{
    ViewData["Title"] = "Home Page";
}
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Service ID</th>
            <th scope="col">Confined Area</th>
            <th scope="col">Type</th>
            <th scope="col">Scheduled Start</th>
            <th scope="col">Scheduled End</th>
            <th scope="col">Actual Start</th>
            <th scope="col">Actual End</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <th scope="row">@Html.ActionLink(@item.ServiceId, "ServiceDetails", "Home", new { id = @item.ServiceId }, null)</th>
            <td>@item.ConfinedArea.Name</td>
            <td>@item.ConfinedArea.ConfinedAreaType</td>
            <td>@item.ScheduledStartDateTime</td>
            <td>@item.ScheduledEndDateTime</td>
            <td>@item.ActualStartDateTime</td>
            <td>@item.ActualEndDateTime</td>
            <td>@item.Status</td>
        </tr>
        }
    </tbody>
</table>